@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #ffffff;
  --card: #1a1a1a;
  --accent: #06b6d4;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}